.nav{
  grid-area: n;
  background-color: #69a6c9;
  margin-right: 5px;
}


.item a{
  font-size: 25px;
  color: #fff;
  padding: 5px 15px;
  text-decoration: none;

  transition: opacity .1s linear;
}

.item a:hover{
  opacity: 0.8;
}