.app-wrapper{
  display: grid;

  grid-template-areas: 
  "h h"
  "n a";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 0 auto;

  width: 80%;
}

.content{
  grid-area: a;
  background-color: #e8effa;
  color: #5e5b6b;
  padding: 25px;
  font-size: 25px;
}


.btnItem{
  margin-top: 5px;
  float: left;
  width: 25%;
  padding: 10px;
  border: none;
  background-color: #69a6c9;
  border-radius: 5px;
  color: #f8f7fa;
  font-size: 15px;
}